*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;            /* For good practice */
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}


/** box-2 **/
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
    
}


/** box-3 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    background-color: aquamarine ;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;  
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover{
    border: 3px solid orange;
}


/** box-4 **/

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}


/**  box-6  **/

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}



/** Panel-Section  **/

.panel{
    height: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin: 8px;
}

.panel-ops{
    width: 95%;
    font-size: 0.90rem;
    
}


/**  Hero-Section  **/

.hero-section{
    background-image: url(Hero_Image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: #f5f6f6;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 98%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;    

}


/** shop-section  **/

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}

.box{
    border: 2px solid transparent;
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}


/**  footer  **/

.foot-panel1{
    background-color: #37475A;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 100%;
}

.foot-panel2{
    background-color: #222f3d;
    color: #DDDDDD;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.lt{
    color: white;
    font-weight: 700;
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    /* font-size: 0.85rem; */
    margin-top: 10px;
}

ul a:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.foot-panel3{
    background-color: #222f3d;
    /* color: white; */
    border-top: 0.1px solid #3a4553;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #131A22;
    color: #DDDDDD;
    font-size: 0.85rem;
    font-size: 0.7rem;
    text-align: center;
    padding: 10px 0 30px; 
}

.pages{
    padding-top: 20px;
}

.copyright{
    padding-top: 5px;
}